
.Dog {
  text-align: center;
}

.Dog-logo {
  height: 40vmin;
}

.p1 {
  color:#3d3d29;
}

.Dog-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dog-body {
  background-color: #282c34;
  background-image: url(./dogs/fog.jpg);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3d3d29;
  font-weight: bold;
}

.Dog-link {
  color: #09d3ac;
}



.Dog-footer {
  background-color: #282c34;
  color: #09d3ac;
  height: 100px;
  margin-top: -100px;
  padding-top: 30px;

}
.Dog-footerLiIcon{
  height: 20px;
  width: 78px;
  margin: 0 15px;
}
.Dog-footerGitIcon{
  height: 32px;
  width: 32px;
  margin: 0 15px;
}
